textarea, 
select, 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="email"], 
input[type="month"], 
input[type="number"], 
input[type="password"], 
input[type="search"], 
input[type="tel"], 
input[type="text"], 
input[type="time"], 
input[type="url"], 
input[type="week"] {

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

-webkit-background-clip: padding;
-moz-background-clip: padding;
background-clip:padding-box;

-webkit-border-radius:0;
-moz-border-radius:0;
-ms-border-radius:0;
-o-border-radius:0;
border-radius:0;

-webkit-appearance:none;

background-color:#fff;

color:#000;

outline:0;

margin:0;

padding: 0.5rem;

text-align: left;

font-size: 1rem;

height: auto;

vertical-align: middle;

}

select, select, select{

background:#fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);

background-repeat: no-repeat;

background-position: 97% center;

padding:0 25px 0 8px;

font-size: 1rem

}
