html {
    font-family: Arial;
}

body {
    background-color: black;
    background-image: url('chalkboard.jpg');
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

li {
    display: block;
    text-indent: 0;
    margin:0;
    padding: 0;
    background-color: #FCF0AD;
}

.container {
    margin: 0 auto;
    padding:0;
    text-align: center;
}

a, a:visited {color: #E2D89B; text-decoration: none;}

input[type=submit] { vertical-align: top; }
::-webkit-input-placeholder { color: #E2D89B; font-weight: bold;}
:-moz-placeholder { /* Firefox 18- */color: #E2D89B;  font-weight: bold;}
::-moz-placeholder {  /* Firefox 19+ */color: #E2D89B;  font-weight: bold;}
:-ms-input-placeholder {color: #E2D89B;  font-weight: bold;}

.done-true {
    text-decoration: line-through;
    color: #84962B;
}
        
.todo-row { 
    margin:0;
	padding: 0px;
    padding-top: 5px;
    font-size: 14px;
    float: left;
    overflow: auto;
}

li.todo { 
    width: 100%; 
    margin: 0px;
    padding: 0;
    clear: both;
    border-top: dotted 1px #E2D89B;
    overflow: auto;
    background-color: #FCF0AD;
} 

li.todo:hover {
    
}

.list {
    width: 300px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 10px auto;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    box-shadow: 1px 1px 1px black;
}  

textarea {
    width: 200px;
    height: 18px;
    line-height: 22px;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    resize: none;
    font-size: 14px;
    font-family: Arial;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #FCF0AD;
} 

textarea.edit-list-title {
    font-size: 24px;
    margin-left: 5px;
    padding: 5px;
}

textarea.add-todo {
    width: 100%;
    margin: 0;
    padding: 5px;
    border: 0;
    border-top: dotted 1px #E2D89B;
    clear: both;
}

input[type=submit] {
    margin: 5px;
    margin-left: 0;
}

input[type=checkbox] {
    margin: 0;
    vertical-align: middle;
    /*display: none;*/
}

/*input[type="checkbox"] + label {
    color: #E2D89B;
}

input[type="checkbox"]:checked + label {
    color: #84962B;
}*/

a.delete-todo, a.delete-list {float:right; margin-right: 10px; margin-top: 5px;}
a.delete-list:hover {
    color: red;
}

.list-handle {
    height: 14px;
    background-color: #E2D89B;
    margin-bottom: 5px;
}

.list-handle:hover {
    background-color: #84962B; 
}

.todo-handle {
    padding: 5px;
    padding-left: 15px;
    height: 15px;
    margin: 0;
    float: left;
}

.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visible-true {
    visibility: visible;
}

.visible-false {
    visibility: hidden;
}

.box {
    float: left;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: 10px;
    margin-top: 8px;
    color: black;
    font-size: 10px;
    border: solid 3px #E2D89B;
    text-align: center;
    line-height: 10px;
    padding:0;

}

.box:hover {
    border: solid 3px #84962B;
}

.check-false {
    background-color: #E2D89B;
    content: '';
}

.check-true {
    background-color: #84962B;
}

p {
    text-align: center;
}

.filter-input {
    border: solid 1px white;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    margin: 0 auto;
    width: 320px;
    outline: 0;
}