/************************************************************************************************************/
textarea, 
select, 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="email"], 
input[type="month"], 
input[type="number"], 
input[type="password"], 
input[type="search"], 
input[type="tel"], 
input[type="text"], 
input[type="time"], 
input[type="url"], 
input[type="week"] {

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

-webkit-background-clip: padding;
-moz-background-clip: padding;
background-clip:padding-box;

-webkit-border-radius:0;
-moz-border-radius:0;
-ms-border-radius:0;
-o-border-radius:0;
border-radius:0;

-webkit-appearance:none;

background-color: #FCF0AD;;

color:#000;

outline:0;

margin:0;

padding: 0.5rem;

text-align: left;

font-size: 1rem;

height: auto;

vertical-align: middle;

}

select, select, select{

background:#fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);

background-repeat: no-repeat;

background-position: 97% center;

padding:0 25px 0 8px;

font-size: 1rem

}
/************************************************************************************************************/

html {
	font-family: arial;
	font-size: 14px;
}

body {
	background-color: black;
	background-image: url('chalkboard.jpg');
    background-repeat: repeat;
}

div, input, textarea, fieldset, label, nav, li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  border-radius: 2px;
}

div, ul, li {
	vertical-align: top;
	display: inline-block;
}

ul, li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
}

.add-button {
    height:15px;
	width:15px;
	background-color:#E2D89B;
	color:white;
	text-align:center;
	margin:0;
	vertical-align: middle;
	font-size: 12px;
	cursor: pointer;
}

.add-button:hover {
	background-color: #84962B;
}

.add-row {
	border-bottom: dotted 1px #E2D89B;
	width: 280px;
	padding: 0;
	font-size: 0;
}

.input-box {
	width: 265px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-color: #FCF0AD;
}

input {
	border: 0;
	width: 100%;
	margin:0;
	padding: 0;
	background-color: #FCF0AD;
	text-overflow: ellipsis;
}

.container, footer {
	display: block;
	max-width: 960px;
	margin: 0 auto;
}

footer {
	color: gray;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
}

footer a {
	color: silver;
}

a:hover{
	text-decoration: none;
}

.list-holder, .new-list {
	background-color: #FCF0AD;
	padding: 10px;
	box-shadow: 1px 1px 1px black;
	margin: 5px;
	width: 300px;
}

.list-title {
	display: block;
	width: 265px;
	font-size: 24px;
	font-weight: bold;
	padding: 5px 0;
	text-shadow: 1px 1px #E2D89B;
}

.row {
	border-bottom: dotted 1px #E2D89B;
	overflow: hidden;
	padding: 5px 0;
}


.tickbox {
	width: 15px;
	height: 15px;
	background-color: #E2D89B;
	margin-top: 2px;
}

.tickbox:hover {
	border: solid 3px #84962B;
}

.ticked {
	background-color: #84962B;
}

.item {
	width: 250px;
	padding: 0 8px;
}

.delete-list, .delete-item {
	float: right;
	color: #BCB381;
	width: 15px;
	height: 15px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.delete-list:hover, .delete-item:hover {
	color: #c32424;
	cursor: pointer;
}

.delete-list {
	border: solid 1px #E2D89B;
}

.delete-list:hover {
	border-color: #BCB381;
}

.plus-symbol { display:inline-block; vertical-align: middle; margin: 0 auto; }

.strike {
	text-decoration: line-through;
	color: #84962B;
}

.new-list {
	color: #E2D89B;
	background-color: rgba(128,128,128,0.8);
	font-size: 18px;
	font-weight: bold;
	width: auto;
	cursor: pointer;
}

.new-list:hover {
	color: black;
	background-color: #FCF0AD;
	cursor: pointer;
}

.icon {
	vertical-align: top;
}

.template {
	display: none;
}

::-webkit-input-placeholder { color: #BCB381; }
:-moz-placeholder { color: #BCB381; }
::-moz-placeholder { color: #BCB381; }
:-ms-input-placeholder { color: #BCB381; }
